/* 
Solution 1
nav.navbar {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}
.App {
  margin-top: 60px;
} */

/* Solution 2 */
.col-5 {
  height: calc(100vh - 72px);
  overflow: scroll;
}
.flag {
  height: 20px;
}