* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  color: #e83e8c;
}

.container {
  padding: 15px;
}

.Navbar {
  background-color: #425cbb;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 10px;
}
.Navbar__link {
  color: white;
  text-decoration: none;
  margin: 5px;
  font-weight: 500;
}
.Navbar__link--main {
  font-weight: 700;
  flex-grow: 1;
}
